<!DOCTYPE html>
{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light text-dark py-3 " >
    <div class="container-fluid">
      <a class="navbar-brand fw-bolder fs-4 text-uppercase" href="{% url 'home' %}"><img src="{% static '/images/logo.jpeg' %}"  width="70" height="40">Zetta Travel</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse ms-auto mb-2 mb-lg-0 text-dark" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item px-3">
            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Kryefaqja</a>
          </li>
          <li class="nav-item px-3">
            <a class="nav-link" href="{% url 'about' %}">Rreth nesh</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="{% url 'contact' %}">Kontakto</a>
          </li>
    
          <li class="nav-item dropdown px-3">
            <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="true">
                Mjetet e transportit
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% for category in categories %}
                <li><a class="dropdown-item"
                        href="../category_products/{{category.category_id}}">{{category.category_name}}</a></li>
                {% endfor %}
            </ul>
        </li>
        </ul>
        <!-- <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button id="navbutton" class="btn btn-outline-success" type="submit">Search</button>
          </form> -->
          
      </div>
    </div>
  </nav>